// screens
$screen-xlg: 1280px;
$screen-md: 1024px;
$screen-sm: 768px;
$screen-xs: 375px;

$xlg: (max-width: $screen-xlg);
$md: (max-width: $screen-md);
$sm: (max-width: $screen-sm);
$xxs: (max-width: $screen-xs);

// z-indexes
$layer-1: 500;
$layer-2: 502;
$layer-3: 503;

// border radius
$base-border-radius: 8px;

// base colors
$base-red: #b02c44;
$dark-red: #9e203b;
$base-yellow: #eda22d;

// shadow
$base-shadow: 1px 2px 7px rgba(0, 0, 0, 0.18);
$base-shadow-hover: 0 5px 7px rgba(0, 0, 0, 0.1);
