.hidden-xlg {
  display: none;

  &-flex {
    display: none;
  }
}

.visible-xlg {
  display: block;

  &-flex {
    display: block;
  }
}

.hidden-md {
  display: block;

  &-flex {
    display: flex;
  }

  &, &-flex {
    @media #{$xlg} {
      display: none;
    }
  }
}

.visible-md {
  display: none;

  @media #{$xlg} {
    display: block;
  }

  &-flex {
    @media #{$xlg} {
      display: flex;
    }
  }
}

.hidden-sm {
  display: block;

  &-flex {
    display: flex;
  }

  &, &-flex {
    @media #{$md} {
      display: none;
    }
  }
}

.visible-sm {
  display: none;

  @media #{$md} {
    display: block;
  }

  &-flex {
    @media #{$md} {
      display: flex;
    }
  }
}

.hidden-xxs {
  display: block;

  &--flex {
    display: flex;
  }

  &, &-flex {
    @media #{$sm} {
      display: none;
    }
  }
}

.visible-xxs {
  display: none;

  @media #{$sm} {
    display: block;
  }

  &-flex {
    @media #{$sm} {
      display: flex;
    }
  }
}
