.aside {
  max-width: 300px;
  width: 100%;
  margin-right: 20px;

  @media #{$xlg} {
    max-width: 245px;
  }

  @media #{$md} {
    max-width: 225px;
  }

  @media #{$sm} {
    display: none;
  }

  &-list-group {
    margin-bottom: 50px;

    &__item:not(:last-child) {
      margin-bottom: 50px;
    }
  }

  &-card {
    max-width: 185px;
    width: 100%;
  }
}
