.aside {
  max-width: 300px;
  width: 100%;
  margin-right: 20px;

  @media #{$xlg} {
    max-width: 245px;
  }

  @media #{$md} {
    max-width: 225px;
  }

  @media #{$sm} {
    display: none;
  }

  &-list-group {
    margin-bottom: 50px;

    &__item:not(:last-child) {
      margin-bottom: 50px;
    }
  }

  &-card {
    max-width: 185px;
    width: 100%;

    &-decor {
      background: url("../../images/bg_decor/drafts/thin_long.svg") no-repeat 125px 100%;
      padding-bottom: 15px;
      margin-bottom: -15px;
    }
  }
}
