.banner {
  width: 100%;
  border-radius: 20px;
  color: #fff;
  border: 15px solid rgba(245, 209, 195, .74);
  margin-bottom: 40px;
  overflow: hidden;

  @media #{$sm} {
    margin: 25px auto 30px;
  }

  &__item {
    padding: 60px;
    background-size: cover !important;


    @media #{$md} {
      padding: 25px 30px 100px;
    }

    @media #{$sm} {
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 90px;
    }
  }

  *:not(.button) {
    color: inherit;
  }

  h1 {
    font-size: 34px;

    @media #{$md} {
      font-size: 28px;
    }

    @media #{$sm} {
      font-size: 21px;
      margin-bottom: 10px;
    }
  }

  .text-size-xs {

    @media #{$sm} {
      font-size: 14px;
    }
  }

  .button {
    margin-top: 30px;

    @media #{$sm} {
      margin-top: 10px;
    }
  }

  &__inner {
    max-width: 400px;

    @media #{$md} {
      max-width: 350px;
    }
  }
}
