.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 11px 15px 10px;
  border-radius: 8px;
  font-weight: 700;

  img + span, span + img {
    margin-left: 12px;
  }

  &--link {
    justify-content: flex-start;
    color: $base-red;
    text-decoration: underline;
    line-height: normal;
    padding: 0;
    border-radius: 0;
    font-weight: 400;
  }

  &--filled {
    background-color: $base-red;
    color: #fff;

    &-white {
      background-color: #fff;
      color: $base-red;
    }
  }

  &--contour {
    border: 1px solid $base-red;
    background-color: transparent;
    color: $base-red;
  }
}
