.column {
  --cols-2: repeat(2, 47.9%);
  --cols-2-cards: repeat(2, 47.9%);
  --cols-3: 3;
  --cols-4: 4;
  $super: &;
  display: grid;
  grid-gap: 20px;

  &:not(:last-of-type) {
    margin-bottom: 40px;

    @media #{$xs-l} {
      margin-bottom: 30px;
    }
  }

  &--2 {
    grid-template-columns: var(--cols-2);
  }

  &--3 {
    grid-template-columns: repeat(var(--cols-3), 1fr);
  }

  &--4 {
    grid-template-columns: repeat(var(--cols-4), 1fr);
  }

  &--gap-thin {
    grid-column-gap: 10px;
  }

  &--no-gap {
    grid-column-gap: 0;
    --cols-2: repeat(2, 1fr);
  }

  &--programs {
    grid-template-columns: repeat(3, 1fr);

    .card--compact {

      @media #{$xs} {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  @media #{$md} {
    --cols-2: 1;
    --cols-3: 2;
    --cols-4: 3;
  }

  @media #{$sm} {
    --cols-2-cards: repeat(1, 1fr);
    --cols-4: 2;
  }

  @media #{$xs-l} {
    --cols-3: 1;
    --cols-4: 2;
  }

  @media #{$xs} {
    --cols-4: 1;
  }
}
