.column-group {

  &__header {

    & + .column-group__list {
      margin-top: 30px;
    }
  }

  &__item:not(:last-of-type) {
    margin-bottom: 40px;

    @media #{$sm} {
      margin-bottom: 30px;
    }
  }

  &--gap-thin {

    .column-group__item:not(:last-of-type) {
      margin-bottom: 20px;
    }
  }

  &--result {

    .column {
      @media #{$md} {
        grid-template-columns: 1fr;
      }
    }
  }

  & + .text-with-icon {
    margin-top: 40px;
  }
}

.column {
  --cols-2: repeat(2, 1fr);
  --cols-3: 3;
  --cols-4: 4;
  --cols-1-3: 32% calc(68% - var(--grid-gap));
  --cols-3-1: calc(68% - var(--grid-gap)) 32%;
  --grid-gap: 43px;
  $super: &;
  display: grid;
  grid-gap: var(--grid-gap);

  &--2 {
    grid-template-columns: var(--cols-2);

    &.column--1-3 {
      grid-template-columns: var(--cols-1-3);
    }

    &.column--3-1 {
      grid-template-columns: var(--cols-3-1);
    }
  }

  &--3 {
    grid-template-columns: repeat(var(--cols-3), 1fr);
  }

  &--4 {
    grid-template-columns: repeat(var(--cols-4), 1fr);
  }

  &--gap-thin {
    --grid-gap: 20px;
  }

  &--no-gap {
    grid-column-gap: 0;
    --cols-2: repeat(2, 1fr);
  }

  &--programs {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 40px;

    @media #{$xlg} {
      grid-column-gap: 20px;
    }

    .card--compact {

      @media #{$sm} {
        padding-left: 0;
        padding-right: 0;
      }

      .card__img {
        margin: auto;
      }
    }

    .card--inner-gap-thin {
      padding: 15px 0;
    }

    &-decor {
      padding: 40px 30px 30px;
      margin: -40px -30px -30px;
      background: url("../../images/bg_decor/drafts/thin_long.svg") no-repeat 0 bottom,
                  url("../../images/bg_decor/drafts/dots.svg") no-repeat 33% 100%,
                  url("../../images/bg_decor/drafts/dashes.svg") no-repeat 75% bottom,
                  url("../../images/bg_decor/drafts/thin_long.svg") no-repeat right 15px;



      @media #{$sm} {
        padding: 40px 10px 10px;
        margin: -40px -10px -10px;
      }
    }

    &-sm {
      display: inline-grid;

      @media #{$sm} {
        display: grid;
      }

      &.column--programs-decor {

        @media #{$sm} {
          padding: 40px 10px 30px;
          margin: -40px -10px -30px;
          background-position: 0 30px, left 100%, right 90%, right 15px;
        }
      }
    }
  }

  &--steps {

    .card {
      padding: 20px 30px;

      &__desc {
        max-width: 78%;

        @media #{$xlg} {
          max-width: 100%;
        }
      }
    }

    p {

      @media #{$sm} {
        font-size: 14px;
      }
    }
  }

  &--daily-regime {
    grid-template-columns: 465px 1fr;

    @media #{$md} {
      grid-template-columns: 1fr;
    }
  }

  & + .text-center {
    margin-top: 40px;

    @media #{$sm} {
      margin-top: 30px;
    }
  }

  & + h2, & + p {
    margin-top: 30px;
  }

  & + .text-with-icon, & + .look-book {
    margin-top: 40px;
  }

  @media #{$xlg} {
    --cols-4: 3;
  }

  @media #{$md} {
    --cols-2: 1;
    --cols-3: 2;
    --cols-4: 2;
    --cols-1-3: 1fr;
    --cols-3-1: 1fr;
  }

  @media #{$sm} {
    --cols-3: 1;
    --cols-4: 1;
  }
}
