.footer-wrapper {
  padding-top: 80px;
  overflow: hidden;
}

.footer {
  max-width: 1360px;
  width: calc(100% - 30px);
  margin: auto;
  position: relative;
  --base-layer: 30;

  &__inner {
    display: flex;
    padding: 34px 20px;
    position: relative;
    z-index: var(--base-layer);

    @media (max-width: 1250px) {
      justify-content: space-between;
    }

    @media (max-width: 960px) {
      padding-top: 10px;
      flex-direction: column;
    }

    @media #{$msm} {
      max-width: 290px;
    }
  }

  &__item {

    &:not(:last-child) {
      margin-right: 60px;

      @media (max-width: 1250px) {
        margin-right: 0;
      }
    }

    .list + .button {
      margin-top: 33px;

      @media (max-width: 960px) {
        margin-top: 0;
        margin-left: 26px;
      }

      @media (max-width: 730px) {
        margin-top: 33px;
      }

      @media #{$msm} {
        margin-left: 0;
      }
    }

    &--response {

      @media (max-width: 960px) {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
      }

      @media (max-width: 730px) {
        display: block;
      }
    }
  }

  &__logo {
    max-width: 236px;
    margin-right: 45px;

    @media (max-width: 1250px) {
      margin-right: 0;
    }

    @media (max-width: 960px) {
      margin-bottom: 30px;
      align-self: center;
    }
  }

  &__list-group {
    margin-bottom: 35px;

    @media (max-width: 1170px) {
      grid-template-columns: repeat(3, auto);
    }

    @media #{$md} {
      grid-template-columns: repeat(2, auto);
    }

    @media (max-width: 960px) {
      grid-template-columns: repeat(4, auto);
    }

    @media #{$msm} {
      grid-template-columns: repeat(1, auto);
    }
  }

  &__policy {

    @media #{$md} {
      margin-top: 20px;
    }

    @media (max-width: 960px) {
      margin-top: 0;
      margin-left: 26px;
    }

    @media #{$sm} {
      margin-top: 20px;
    }

    @media #{$msm} {
      margin-left: 0;
    }

    @media #{$msm} {
      font-size: 12px;
    }
  }

  &__decor {
    width: 100%;
    height: 100%;
    position: absolute;

    * {
      position: absolute;
    }

    img {

      /* thick crooked */
      &:nth-child(1) {
        top: -31px;
        left: -24px;
      }
      /* thin long */
      &:nth-child(2) {
        top: -44px;
        left: 33px;
        z-index: calc(var(--base-layer) + 1);
      }
      /* flower */
      &:nth-child(3) {
        bottom: -30px;
        left: -40px;
        z-index: calc(var(--base-layer) + 1);

        @media #{$xs-l} {
          top: 40px;
          left: -30px;
        }

        @media #{$xs} {
          top: 50px;
          left: -55px;
        }

        @media #{$xxs} {
          left: -60px;
        }
      }
      /* thick horizontal */
      &:nth-child(4) {
        bottom: -40px;
        left: 10px;
        z-index: calc(var(--base-layer) - 1);

        @media #{$xs-l} {
          display: none;
        }
      }
      /* dots */
      &:nth-child(5) {
        top: -50px;
        right: 126px;
        z-index: calc(var(--base-layer) - 1);
      }
      /* thick crooked */
      &:nth-child(6) {
        top: -31px;
        right: -33px;
        z-index: calc(var(--base-layer) - 2);
      }
      /* echo */
      &:nth-child(7) {
        bottom: -4px;
        right: -23px;
        z-index: calc(var(--base-layer) + 1);

        @media #{$xs-l} {
          top: 146px;
          right: -52px;
        }
      }
    }
  }

  &__bg {
    position: absolute;
    background-color: #fdf0df;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    z-index: var(--base-layer);
  }

  &-copyright {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    color: #626262;
    font-size: 12px;
  }
}
