.gallery {
  border: 15px solid #fff;
  border-radius: $base-border-radius;
  box-shadow: $base-shadow;

  &__item {
    @include background-cover;
    width: 100%;
    height: 250px;
    border-radius: $base-border-radius;
  }

  &-hash-navigation {
    justify-content: center;
    max-width: 286px;
    margin: auto;

    @media #{$xlg} {
      max-width: 233px;
    }

    @media #{$md} {
      max-width: 286px;
    }

    @media #{$sm} {
      max-width: 233px;
    }

    .owl-stage {
      margin: auto;
    }
  }
}
