.list {

  &__item {

    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &--gap {

    &-md {

      .list__item {

        &:not(:last-child) {
          margin-bottom: 10px;
        }
      }
    }

    &-sm {

      .list__item {

        &:not(:last-child) {
          margin-bottom: 5px;
        }
      }
    }
  }

  &--horizontal {
    display: flex;

    .list__item {

      &:not(:last-child) {
        margin-right: 10px;
        margin-bottom: 0;
      }
    }
  }

  &--social {

    .list__item {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      background-color: $dark-red;
      border-radius: 100%;
    }
  }
}
