.owl-carousel .owl-item img {
  display: inline-block !important;
  width: auto !important;
}

.sl-overlay {
  background: rgba(0, 0, 0, .84) !important;
}

.sl-counter, .sl-close, .sl-navigation button {
  color: #fff !important;
}
