.testimonial {
  border-radius: 10px;
  box-shadow: $base-shadow;
  padding: 20px 20px 50px;
  position: relative;

  h3 {
    color: #000;
    margin-bottom: 0;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h3 {
      @include row-ellipsis;
      max-width: calc(100% - 75px);
    }
  }

  &__date {
    margin-top: 5px;
    color: #505050;
  }

  &__desc {
    margin-top: 10px;
    @include ellipsis(5);
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
  }

  .testimonial-gallery {
    margin-top: 15px;
  }
}

.testimonial-gallery {
  display: flex;

  &__img {

    span {
      display: inline-block;
      width: 64px;
      height: 60px;
      @include background-cover;
      border-radius: 10px;
    }

    &:not(:last-child) {
      margin-right: 15px;
      margin-bottom: 10px;
    }
  }
}
