.text-with-icon {
    display: inline-flex;
    flex-direction: column;

    &__content {
        display: inline-flex;
        align-items: center;
    }

    &__footer {
        margin-top: 5px;
        margin-left: 33px;

        & > *:not(:last-child) {
            margin-bottom: 5px;
        }
    }

    &__img {
        min-width: 24px;

        &  + p, &  + span {
            margin-left: 10px;
        }

        img {
            margin: auto;
        }
    }

    a {
        display: block;
    }
}
