.text-with-icon {
    display: inline-flex;
    flex-direction: column;

    main {
        display: inline-flex;
        align-items: center;
    }

    footer {
        margin-top: 5px;
        margin-left: 33px;
    }

    &__img {
        min-width: 24px;

        &  + p {
            margin-left: 10px;
        }

        img {
            margin: auto;
        }
    }
}
