<aside class="aside">
    @@include('./menu.html')

    <div class="decor decor--teapot">
        <img src="../images/bg_decor/teapot.svg" alt="teapot">
    </div>

    <h3>
        Наши соцсети
    </h3>

    <div class="aside-list-group">
        <ul class="list list--social list--horizontal aside-list-group__item">
            <li class="list__item">
                <a href="#">
                    <img src="../images/icons/social/vk.svg" alt="vk icon">
                </a>
            </li>
            <li class="list__item">
                <a href="#">
                    <img src="../images/icons/social/whatsapp.svg" alt="whatsapp icon">
                </a>
            </li>
        </ul>

        <ul class="list aside-list-group__item">
            <li class="list__item">
                <div class="text-with-icon">
                    <a href="#">
                        <main>
                            <span class="text-with-icon__img">
                                <img src="../images/icons/menu/red/kindergarten.svg" alt="kid icon">
                            </span>
                            <p class="text-size-md text-red">Детский сад</p>
                        </main>
                    </a>
                    <footer>
                        <a href="tel:+7 (913) 012-45-85" class="text-size-sm text-bold text-yellow">+7 (913) 012-45-85</a>
                        <a href="#" class="text-red">
                            г.Новосибирск<br>
                            ул.Чехова, д.82
                        </a>
                    </footer>
                </div>
            </li>
            <li class="list__item">
                <div class="text-with-icon">
                    <a href="#">
                        <main>
                    <span class="text-with-icon__img">
                        <img src="../images/icons/menu/red/development.svg" alt="development icon">
                    </span>
                            <p class="text-size-md text-red">Раннее развитие</p>
                        </main>
                    </a>
                    <footer>
                        <a href="tel:+7 (913) 012-45-85" class="text-size-sm text-bold text-yellow">+7 (913) 455-12-07</a>
                        <a href="#" class="text-red">
                            г.Новосибирск<br>
                            ул. Кирова, 27/3
                        </a>
                    </footer>
                </div>
            </li>
            <li class="list__item">
                <button><img src="../images/icons/question.svg" alt="question icon"> Задать вопрос</button>
            </li>
        </ul>
    </div>
</aside>
