<aside class="aside">
    <ul class="list">
        <li class="list__item">
            <a href="#" class="text-with-icon">
                <main>
                    <img src="../images/icons/menu/red/kindergarten.svg" alt="kid icon">
                    <p class="text-size-md text-red">Детский сад</p>
                </main>
            </a>
        </li>
        <li class="list__item">
            <a href="#" class="text-with-icon">
                <main>
                    <img src="../images/icons/menu/red/development.svg" alt="development icon">
                    <p class="text-size-md text-red">Детский сад</p>
                </main>
            </a>
        </li>
    </ul>
</aside>
