<div class="footer-wrapper">
    <div class="footer">
        <ul class="list list--gap-sm">
            <li class="list__item">
                <a href="#" class="text-link">
                    Политика информационной безопасности
                </a>
            </li>
            <li class="list__item">
                <a href="#" class="text-link">
                    Документы и стандарты
                </a>
            </li>
        </ul>
    </div>
    <div class="footer-copyright">
        (с) ООО Центр развития детей Лесенка, 2022
    </div>
</div>
