<div class="footer-wrapper">
    <div class="footer">
        <div class="decor decor--footer">
            <img src="../images/bg_decor/drafts/thick_circle.svg" alt="thick crooked">
            <img src="../images/bg_decor/drafts/thin_long.svg" alt="thin long">
            <img src="../images/bg_decor/flowers/single.svg" alt="flower">
            <img src="../images/bg_decor/drafts/thick_horizontal.svg" alt="thick horizontal">
            <img src="../images/bg_decor/drafts/dots.svg" alt="dots">
            <img src="../images/bg_decor/drafts/thick_crooked.svg" alt="thick crooked">
            <img src="../images/bg_decor/drafts/echo.svg" alt="echo">
        </div>
        <div class="footer__bg"></div>
        <div class="container footer__inner">
            <div class="footer__item footer__logo">
                <a href="/" class="logo">
                    <img src="../images/icons/logo/logo.png" alt="logo">
                </a>
            </div>
            <div class="footer__item">
                <div class="list-group footer__list-group">
                    <ul class="list list--gap-md list-group__item">
                        <li class="list__item">
                            <a href="#" class="text-with-icon">
                                <div class="text-with-icon__content">
                                    <span class="text-with-icon__img">
                                        <img src="../images/icons/menu/red/about_us.svg" alt="about us icon">
                                    </span>
                                    <p class="text-size-sm text-red">О нас</p>
                                </div>
                            </a>
                        </li>
                        <li class="list__item">
                            <a href="#" class="text-with-icon">
                                <div class="text-with-icon__content">
                                    <span class="text-with-icon__img">
                                        <img src="../images/icons/menu/red/team.svg" alt="team icon">
                                    </span>
                                    <p class="text-size-sm text-red">Команда</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <ul class="list list--gap-md list-group__item">
                        <li class="list__item">
                            <a href="#" class="text-with-icon">
                                <main class="text-with-icon__content">
                                    <span class="text-with-icon__img">
                                        <img src="../images/icons/menu/red/kindergarten.svg" alt="kindergarten icon">
                                    </span>
                                    <p class="text-size-sm text-red">Десткий сад</p>
                                </main>
                            </a>
                        </li>
                        <li class="list__item">
                            <a href="#" class="text-with-icon">
                                <main class="text-with-icon__content">
                                    <span class="text-with-icon__img">
                                        <img src="../images/icons/menu/red/development.svg" alt="development icon">
                                    </span>
                                    <p class="text-size-sm text-red">Ранее развитие</p>
                                </main>
                            </a>
                        </li>
                    </ul>
                    <ul class="list list--gap-md list-group__item">
                        <li class="list__item">
                            <a href="#" class="text-with-icon">
                                <div class="text-with-icon__content">
                                    <span class="text-with-icon__img">
                                        <img src="../images/icons/menu/red/testimonial.svg" alt="testimonial icon">
                                    </span>
                                    <p class="text-size-sm text-red">Отзывы</p>
                                </div>
                            </a>
                        </li>
                        <li class="list__item">
                            <a href="#" class="text-with-icon">
                                <div class="text-with-icon__content">
                                    <span class="text-with-icon__img">
                                        <img src="../images/icons/menu/red/gallery.svg" alt="gallery icon">
                                    </span>
                                    <p class="text-size-sm text-red">Фотогалерея</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <ul class="list list--gap-md list-group__item">
                        <li class="list__item">
                            <a href="#" class="text-with-icon">
                                <main class="text-with-icon__content">
                                    <span class="text-with-icon__img">
                                        <img src="../images/icons/menu/red/user.svg" alt="user. icon">
                                    </span>
                                    <p class="text-size-sm text-red">Родителям</p>
                                </main>
                            </a>
                        </li>
                        <li class="list__item">
                            <a href="#" class="text-with-icon">
                                <main class="text-with-icon__content">
                                    <span class="text-with-icon__img">
                                        <img src="../images/icons/menu/red/phone.svg" alt="phone icon">
                                    </span>
                                    <p class="text-size-sm text-red">Контакты</p>
                                </main>
                            </a>
                        </li>
                    </ul>
                </div>

                @@include('./footerPolicy.html', { "class":  "hidden-md"})
            </div>
            <div class="footer__item footer__item--response">
                <ul class="list list--gap-md">
                    <li class="list__item">
                        <a href="tel:+7 (383) 299-53-46" class="text-with-icon">
                            <div class="text-with-icon__content">
                                <span class="text-with-icon__img">
                                    <img src="../images/icons/menu/red/phone.svg" alt="phone icon">
                                </span>
                                <p class="text-size-sm">+7 (383) 299-53-46</p>
                            </div>
                        </a>
                    </li>
                    <li class="list__item">
                        <a href="tel:+7 (913) 012-45-85" class="text-with-icon">
                            <div class="text-with-icon__content">
                                <span class="text-with-icon__img">
                                    <img src="../images/icons/menu/red/phone.svg" alt="phone icon">
                                </span>
                                <p class="text-size-sm">+7 (913) 012-45-85</p>
                            </div>
                        </a>
                    </li>
                </ul>

                <button class="button button--contour">
                    <img src="../images/icons/question.svg" alt="question icon">
                    <span class="text-size-xs text-bold text-red">Задать вопрос</span>
                </button>

                @@include('./footerPolicy.html', { "class":  "visible-md"})
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        (с) ООО Центр развития детей Лесенка, 2022
    </div>
</div>
