<header class="header header--decor">
    <div class="header__inner container">
        <div class="header__item header__logo">
            <a href="/" class="logo">
                <img src="../images/icons/logo/logo.png" alt="logo">
            </a>
        </div>
        <div class="header__item header__btn-menu visible-xxs">
            <div class="text-with-icon header__btn-hamburger menu-toggle-btn">
                <div class="text-with-icon__content">
                    <span class="text-with-icon__img">
                        <img src="../images/icons/burger.svg" alt="hamburger icon">
                    </span>
                    <p>
                        Меню
                    </p>
                </div>
            </div>
            <div class="mobile-menu">
                <button class="header__btn-hamburger menu-toggle-btn">Close</button>

                @@include('./menu.html')
            </div>
        </div>
        <div class="header__item hidden-xxs">
            <ul class="list list--horizontal">
                <li class="list__item">
                    <div class="text-with-icon">
                        <a href="#">
                            <div class="text-with-icon__content">
                                <span class="text-with-icon__img">
                                    <img src="../images/icons/menu/red/kindergarten.svg" alt="kid icon">
                                </span>
                                <p class="text-size-md text-red">Детский сад</p>
                            </div>
                        </a>
                        <div class="text-with-icon__footer">
                            <a href="tel:+7 (913) 012-45-85" class="text-size-sm text-bold text-yellow">+7 (913) 012-45-85</a>
                        </div>
                    </div>
                </li>
                <li class="list__item hidden-sm">
                    <div class="text-with-icon">
                        <a href="#">
                            <div class="text-with-icon__content">
                                <span class="text-with-icon__img">
                                    <img src="../images/icons/menu/red/development.svg" alt="development icon">
                                </span>
                                <p class="text-size-md text-red">Раннее развитие</p>
                            </div>
                        </a>
                        <div class="text-with-icon__footer">
                            <a href="tel:+7 (913) 012-45-85" class="text-size-sm text-bold text-yellow">+7 (913) 455-12-07</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="header__item">
            <a href="#" class="text-with-icon header__btn-visual-impaired">
                <div class="text-with-icon__content">
                    <span class="text-with-icon__img">
                        <img src="../images/icons/eye/eye_black.svg" class="hidden-md" alt="eye icon">
                        <img src="../images/icons/eye/eye_red.svg" class="visible-md" alt="eye icon">
                    </span>
                    <p class="text-size-sm text-link hidden-md">
                        Версия для слабовидящих
                    </p>
                </div>
            </a>
        </div>
        <div class="header__item">
            <a href="#" class="text-with-icon header__btn-call-back">
                <div class="text-with-icon__content">
                    <span class="text-with-icon__img">
                        <img src="../images/icons/menu/red/phone.svg" alt="phone icon">
                    </span>
                    <p class="text-size-sm text-link">
                        Обратный звонок
                    </p>
                </div>
            </a>
        </div>
    </div>
</header>
