<header class="header">
    <div class="text-with-icon">
        <main>
            <img src="../images/icons/menu/red/kindergarten.svg" alt="kid icon">
            <p class="text-size-md text-red">Детский сад</p>
        </main>
        <footer>
            <a href="tel:+7 (913) 012-45-85" class="text-size-sm text-bold text-yellow">+7 (913) 012-45-85</a>
        </footer>
    </div>
    <div class="text-with-icon">
        <main>
            <img src="../images/icons/menu/red/development.svg" alt="development icon">
            <p class="text-size-md text-red">Раннее развитие</p>
        </main>
        <footer>
            <a href="tel:+7 (913) 012-45-85" class="text-size-sm text-bold text-yellow">+7 (913) 455-12-07</a>
        </footer>
    </div>
</header>
