<ul class="list">
    <li class="list__item">
        <a href="#" class="text-with-icon">
            <main>
                <span class="text-with-icon__img"><img src="../images/icons/menu/yellow/home.svg" alt="home icon"></span>
                <p class="text-size-md text-red">Главная</p>
            </main>
        </a>
    </li>
    <li class="list__item">
        <a href="#" class="text-with-icon">
            <main>
                <span class="text-with-icon__img"><img src="../images/icons/menu/yellow/about_us.svg" alt="about us icon"></span>
                <p class="text-size-md text-red">О нас</p>
            </main>
        </a>
    </li>
    <li class="list__item">
        <a href="#" class="text-with-icon">
            <main>
                <span class="text-with-icon__img"><img src="../images/icons/menu/yellow/team.svg" alt="team icon"></span>
                <p class="text-size-md text-red">Команда</p>
            </main>
        </a>
    </li>
    <li class="list__item">
        <a href="#" class="text-with-icon">
            <main>
                <span class="text-with-icon__img"><img src="../images/icons/menu/yellow/kindergarten.svg" alt="kindergarten icon"></span>
                <p class="text-size-md text-red">Детский сад</p>
            </main>
        </a>
    </li>
    <li class="list__item">
        <a href="#" class="text-with-icon">
            <main>
                <span class="text-with-icon__img"><img src="../images/icons/menu/yellow/development.svg" alt="development icon"></span>
                <p class="text-size-md text-red">Ранее развитие</p>
            </main>
        </a>
    </li>
    <li class="list__item">
        <a href="#" class="text-with-icon">
            <main>
                <span class="text-with-icon__img"><img src="../images/icons/menu/yellow/user.svg" alt="user icon"></span>
                <p class="text-size-md text-red">Родителям</p>
            </main>
        </a>
    </li>
    <li class="list__item">
        <a href="#" class="text-with-icon">
            <main>
                <span class="text-with-icon__img"><img src="../images/icons/menu/yellow/testimonial.svg" alt="testimonial icon"></span>
                <p class="text-size-md text-red">Отзывы</p>
            </main>
        </a>
    </li>
    <li class="list__item">
        <a href="#" class="text-with-icon">
            <main>
                <span class="text-with-icon__img"><img src="../images/icons/menu/yellow/gallery.svg" alt="gallery icon"></span>
                <p class="text-size-md text-red">Фотогалерея</p>
            </main>
        </a>
    </li>
    <li class="list__item">
        <a href="#" class="text-with-icon">
            <main>
                <span class="text-with-icon__img"><img src="../images/icons/menu/yellow/phone.svg" alt="phone icon"></span>
                <p class="text-size-md text-red">Контакты</p>
            </main>
        </a>
    </li>
</ul>
